html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
  background: linear-gradient(
    rgba(31, 101, 182, 0.651),
    rgba(66, 41, 105, 0.651)
  );
  height: 100vh;
  color: rgb(73, 48, 48);
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 2px whitesmoke;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  /* letter-spacing: -5px; */
  margin-bottom: 10px;
}
